.comment-container {
    display: flex;
    gap: 4px;
    border: 1px solid;
}

.comment {
    border-radius: 4px;
    /* display: flex; */
}

.comment .details {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.comment-content {}

.comment div:nth-child(3) #vote-container {
    display: flex;
}

.comment div:nth-child(3) #vote-container svg {
    height: 20px;
}

.comment-options {
    display: flex;
    align-items: center;
}

#comments-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 740px;
}