#create-post-shortcut{
    display: flex;
    align-items: center;
    border: 1px solid;
    margin: 0 12px 0 12px;
    justify-content: space-evenly;
    height: 38px;
    border-radius: 4px;
}

#create-post-shortcut input{
    flex: 1 0 auto;
    max-width: 500px;
    border-radius: 4px;
    border: 1px solid rgb(102, 102, 102);
}