#create-post-shortcut{
    display: flex;
    align-items: center;
    border: 1px solid;
    margin: auto;
    width: 80vw;
    justify-content: space-evenly;
}

#create-post-shortcut input{
    flex: 1 0 auto;
    max-width: 500px;
}