#create-post-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

#create-post-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#create-post-options {
    display: flex;
    justify-content: space-between;
}

select#default-sub.true{
   color: red;
}

#post-notifications{
    display: flex;
    align-items: center;
}

button#post{
    width: fit-content;
    font-weight: bold;
    padding: 1rem;
    border-radius: 25px;
    align-self: end;
}