#dropdown-container {
    border: 1px solid black;
    width: 200px;
    position: relative;
    z-index: 1;
}

#dropdown-container.bottom-border {
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid transparent;
}

#dropdown-header {
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.displayed {
    background-color: white;
    position: absolute;
    top: 100%;
    padding-top: 0.5rem;
    left: -1px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: inherit;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
}

#avatar-container {
    justify-content: space-between;
}

.tile {
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin: 0;
}

.tile:hover {
    background-color: beige;
}

#dropdown-search{
    width: 80%;
    margin: auto;
}

img.avatar{
    height: 25px;
    border-radius: 50%;
}