nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid;
}

#dropdown-user {
    position: relative;
    width: 150px;
}

#dropdown-user .displayed {
    background-color: aliceblue;
    position: absolute;
    width: inherit;
}

#dropdown-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;

}