nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid;
}

#dropdown-user {
    border: 1px solid;
    position: relative;
}

#dropdown-user .displayed {
    background-color: aliceblue;
    position: absolute;
}