:root {
    --dark-background: rgb(46, 46, 46);
    --hover-dark-background: rgb(105, 105, 105);
    --dark-color: rgb(202, 202, 202);
    --input-background: rgb(46, 46, 46);
}

svg.dark {
    color: rgb(223, 223, 223)
}

.hover.dark:hover {
    background-color: var(--hover-dark-background);
}

#App.dark {
    color: var(--dark-color);
    background-color: var(--dark-background);
}

a.dark {
    color: white;
}

button.dark {
    background-color: var(--dark-background);
    color: white;
}

button.dark:hover {
    background-color: rgb(133, 133, 133);
    color: white;
}

input.dark {
    background-color: var(--input-background);
    border: inset 1px var(--dark-color);
    color: var(--dark-color);
}

textarea.dark {
    color: var(--dark-color);
    background-color: var(--dark-background);
}

select.dark {
    color: var(--dark-color);
    background-color: var(--dark-background);
}

div.displayed.dark {
    background-color: var(--dark-background);
}

#dropdown-container.dark {
    border: 1Px solid var(--dark-color);
}

.tile:hover.dark {
    background-color: var(--hover-dark-background);
}

#create-sub.dark {
    background-color: rgba(46, 46, 46, 0.521);
}

#create-sub-form.dark {
    background-color: var(--dark-background);
    color: var(--dark-color);
}

#avatar-message.dark {
    background-color: var(--dark-background);
    color: var(--dark-color);
}

#post-wrapper>div.dark {
    background-color: var(--dark-background);
    color: var(--dark-color);
}

.post-exposed-options.dark{
    background-color: var(--dark-background);
    color: var(--dark-color);
}