@font-face {
  font-family: OpenSans;
  src: url('/public/assets/fonts/OpenSans/OpenSans-Regular.ttf');
}

body {
  margin: 0;
}

body,
button,
textarea,
input {
  font-family: OpenSans;
}

#App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  min-height: 100vh;
}

footer {
  text-align: center;
  padding: 0.5rem;
}

#container {
  flex: 1 0 auto;
  width: 50vw;
  margin: auto;
}

.horizontal.flex {
  display: flex;
  align-items: center;
}

.vertical.flex {
  display: flex;
  flex-direction: column;
}

.mouse-pointer:hover {
  cursor: pointer;
}

svg {
  color: black;
}

.buttonStyle {
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 5px;
}

.buttonStyle:hover {
  background-color: grey;
  color: white;
}

textarea {
  resize: none;
}