@font-face {
  font-family: OpenSans;
  src: url('/public/assets/fonts/OpenSans/OpenSans-Regular.ttf');
}

body {
  margin: 0;
}

body,
button,
textarea,
input {
  font-family: OpenSans;
}

#App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

footer {
  text-align: center;
  padding: 0.5rem;
}

#container {
  flex: 1 0 auto;
  margin-top: 18px;
  position: relative;
}

.horizontal.flex {
  display: flex;
  align-items: center;
}

.vertical.flex {
  display: flex;
  flex-direction: column;
}

.mouse-pointer:hover {
  cursor: pointer;
}

svg {
  color: black;
}

.buttonStyle {
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 4px;
}

.buttonStyle:hover {
  background-color: grey;
  color: white;
}

textarea {
  resize: none;
}

#side-container {
  grid-column: 2;
  min-height: 500px;
  border: 1px solid;
  margin: 0 12px 0 12px;
  border-radius: 4px;
  padding: 0.3rem;
}

#content-wrapper {
  grid-area: 1;
}