form#unsigned {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid;
    padding: 1rem;
    width: fit-content;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#error {
    background-color: rgb(223, 26, 26);
    padding: 0.5rem;
    color: rgb(61, 14, 14)
}