.post-preview {
    border: 1px solid;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
}

.post-preview #content{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.post-preview-details{
    display: flex;
    align-items: center;
    gap : 1rem;
}

header#details{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}