.post {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid;
    padding: 1rem;
    margin: auto;
    align-items: center;
    gap: 1rem;
}

.post section {
    flex: 1 0 auto;
}

#form {
    border: 1px solid;
    padding: 1rem;
    margin: auto;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    height: 250px;
    resize: none;
}

header#details {
    display: flex;
    align-items: center;
    gap: 5px;
}

header#details p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

span#dot {
    display: inline-block;
}