#avatar-message{
    width: fit-content;
    padding: 0.3rem;
    margin: 0;
    position: absolute;
    width: max-content;
    top: -35px; 
    background-color: white;
    border: 1px solid;
    font-size: 0.8rem;
    border-radius: 15px;
}

#image-selector{
    border: 1px solid white;
    width: 100vw;
    height: 245px;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
}

#banner-page{
    background-color: black;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
}