#sub-container {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    /* gap: 1rem; */
    justify-content: start;
    box-sizing: border-box;
}

#sub-posts-list {
    flex: 1 0 auto;
}

#sub-settings-shortcut {
    justify-content: space-between;
    gap: 1rem;
    padding: 0 1rem 0 1rem;
}


#about-sub {
    border: 1px solid;
    padding: 0.5rem;
}