#vote-container {
    flex: 0 1 auto;
    align-items: center;
}

svg.vote.true[data-value='1'] {
    color: red;
}

svg.vote.true[data-value='-1'] {
    color: blue;
}

svg.vote:hover {
    cursor: pointer;
}

svg.vote[data-value='1']:hover {
    color: red;
}

svg.vote[data-value='-1']:hover {
    color: blue;
}